vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Mar 2006 06:51:48 -0000
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|left.html 遗留项目录入_1.html 登录.htm 遗留项目录入.html head.html main.html 工程监控.html
vti_nexttolasttimemodified:TW|26 Mar 2006 06:51:25 -0000
vti_author:SR|lebl
vti_modifiedby:SR|SNOOPY-F6853334\\Administrator
vti_timecreated:TR|20 Jun 2003 03:25:24 -0000
vti_cacheddtm:TX|26 Mar 2006 06:51:48 -0000
vti_filesize:IR|3007
vti_cachedlinkinfo:VX|S|../images/input_bg_01.gif S|../images/input_bg_02.gif S|../images/input_bg_03.gif S|../images/table_bg_09.gif S|../images/table_bg_09.gif S|../images/table_bg_09.gif S|../images/table_bg_08.gif
vti_cachedsvcrellinks:VX|FSUS|images/input_bg_01.gif FSUS|images/input_bg_02.gif FSUS|images/input_bg_03.gif FSUS|images/table_bg_09.gif FSUS|images/table_bg_09.gif FSUS|images/table_bg_09.gif FSUS|images/table_bg_08.gif
