/* -- ASPxRoundPanel -- */
.dxrpControl_XP td.dxrp
{
	font-size: 11px;
	font-family: Verdana;
	color: #000000;	
	text-align: justify;
}
/* Header */
.dxrpHeader_XP td.dxrp
{
	font-size: 10pt;
	font-family: Arial;
	text-align: justify;	
	font-weight: bold;	
	vertical-align: top;
	color: #ffffff;
}
/* Disabled */
.dxrpDisabled_XP, .dxrpDisabled_XP td.dxrp
{
	color: #808080;
	cursor: default;
}
